@import "tailwindcss";

:root {
  --color-primary: #7847ea;
  --color-primary-light: #9c74f0;
  --color-primary-dark: #5c26d4;
  --color-secondary: #2d2938;
  --color-secondary-light: #433c53;
  --color-secondary-dark: #1f1c26;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a59db8;
  --color-background: #131118;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: "Spline Sans", "Noto Sans", sans-serif;
}

.icon-button {
  @apply flex items-center justify-center size-10 rounded-full hover:bg-white/10 transition-colors duration-200;
}
